<?xml version="1.0" encoding="UTF-8"?>
<included>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %X{Slf4jMDCFilter.UUID} %X{Slf4jMDCFilter.ClientIP} %X{Slf4jMDCFilter.RequestURL}  %X{Slf4jMDCFilter.UserName} %blue(%logger{36}) %blue(%logger{36}\(%class{0}.java:%line\)) %magenta(%msg) %n</Pattern>

        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="consoleAppender" />
    </root>


</included>